<div class="discussion_item">
	<h1><%= d_icon(discussion) %> <%= link_to discussion.subject, :controller => "discussion", :action => "view", :id => discussion.id %></h1>
	<em class="lg f12"><%= u discussion.user, false %>
	 on <%= discussion.created_at.strftime("%H:%M, %Y/%m/%d")%></em>
</div>