<h1><%= link_to "Spaces", :controller => "space" %></h1>

<%= render :partial => "space", :collection => @spaces %>

<% content_for :sidebar do %>
	<%= button("add.png", "Create new space", {:action => "new"}) %>
<% end %>