<h1><%= link_to "Spaces", :controller => "space" %></h1>

<% for space in @spaces do %>
	<%= link_to space.name, :action => "view", :id => space.alias %><br/>
<% end %>


<% content_for :sidebar do %>
	<%= button("add.png", "Create new space", {:action => "new"}) %>
<% end %>