body {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color: #444;
	margin: 0;
	padding: 0;
}

#doc3 {
	margin: 0;
}

/* body blocks */

#bd, #ft {
	padding: 20px;
}

#ft {
	margin: 20px 0;
	font-size: 11px;
	color: #999;
}

#menu {
	color: #a3d39c;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	background: #00a651;
}

#menu a {
	color: #fff;
}

/* fonts and colors */

.lg {	color: #999; }

.f12 { font-size: 12px; }

.right { text-align: right; }

/* links */

a, a:visited {
	color: #00a651;
	font-weight: bold;
	text-decoration: none;
}

a img {
	border: none;
}

a.button {
	background: #ebfcd2;
	padding: 4px;
	font-size: 12px;
	line-height: 25px;
}

a.button:hover {
	background: #bce97a;
}

/* images */

img.va {
	vertical-align: middle;
}


/* discussions */

.discussion {
	background: #e7e7e7;
	padding: 15px;
	font-size: 12px;
	margin-bottom: 20px;
	border-left: 10px solid #00bff3;
}

.discussion h1 {
	font-size: 16px;
	margin: 0 0 1em 0;
	border-bottom: 1px solid #ddd;
}

.discussion h1 em {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}

.discussion_item {
	font-size: 15px;	
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.discussion_item h1 {
	font-size: 15px;
	display: inline;
}

/* comments */

.comment {
	font-size: 12px;
	padding: 5px;
	margin-top: 5px;
	background: #f6f6f6;
	padding: 15px;
	border-left: 10px solid #ddd;
}

.comment .info {
	margin-top: 15px;
	font-size: 11px;
	padding: 5px 0 0;
	color: #999;
	border-top: 1px solid #ddd;
}

.answer {	border-left: 10px solid #00a651; background: #ecf9d9; }
.helpful { border-left: 10px solid #fff000; }

/* help and information */

#message {
	font-size: 12px;
	color: #999;
}

.message {
	font-size: 12px;
	background: #bce97a;
	padding: 5px;
	margin-bottom: 15px;
}

#userbox {
	margin: 2em 0;
	background: #f6f6f6;
	padding: 5px;
	font-size: 12px;
}

/* forms */

fieldset {
	font-size: 12px;
	border: none;
	padding: 15px;
	background: #f6f6f6;
}