body {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color: #444;
	margin: 0;
	padding: 0;
}

#doc3 {
	margin: 0;
}

/* body blocks */

#bd, #ft {
	padding: 20px;
}

#ft {
	margin: 20px 0;
	font-size: 12px;
	color: #999;
}

#menu {
	color: #a3d39c;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	background: #00a651;
}

#menu a {
	color: #fff;
}

/* links */

a, a:visited {
	color: #00a651;
	font-weight: bold;
	text-decoration: none;
}

/* images */

img.va {
	vertical-align: middle;
}


/* discussions */

.discussion_item {
	font-size: 15px;	
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.discussion_item h1 {
	font-size: 15px;
	display: inline;
}